//Colors
$color-1: #085F63;
$color-2: #FACF5A;

$color-3: #319B99;
$color-4: #04B1B0;


$color-5: #FFFFFF;
$color-6: #343434;
$color-7: #3E6171;
$color-8: #FF5959;
$color-9: #F8F3F0;
$color-10: #FFE49A;



//Fonts
$font-1: 'Poppins', sans-serif;
$font-2: 'Roboto', sans-serif;
$font-3: 'Montserrat', sans-serif;
